.ruby-version @shotaIDE
.tool-versions @shotaIDE
.windsurfrules @shotaIDE
cspell.json @shotaIDE
fastlane/ @shotaIDE
Gemfile @shotaIDE
pubspec.yaml @shotaIDE

/.github/ @shotaIDE
/.vscode/ @shotaIDE
/client/lib/models/ @shotaIDE
/client/test/ @shotaIDE
/docs/ @shotaIDE
/infra/ @shotaIDE
